<p-panel
	[showHeader]="false"
	class="px-2"
>
	<h1>Pipes personalizados</h1>
	<p>
		Pipes personalizados - Creados por
		{{ 'nosotros' | toggleCase : isUpperCase }}
	</p>
</p-panel>

<p-toolbar class="px-2">
	<div class="p-toolbar-group-start">
		<p-button
			label="Toggles Case"
			icon="pi pi-check-circle"
			styleClass="p-button-success"
			(onClick)="toogleUpperCase()"
		/>
	</div>
	<div class="p-toolbar-group-end">
		<p-button
			label="Nombre"
			icon="pi pi-sort"
			class="mr-2"
			styleClass="p-button-warning"
			(onClick)="selectSort('name')"
		/>
		<p-button
			label="Volar"
			icon="pi pi-sort"
			class="mr-2"
			styleClass="p-button-danger"
			(onClick)="selectSort('canFly')"
		/>
		<p-button
			label="Color"
			icon="pi pi-sort"
			styleClass="p-button-help"
			(onClick)="selectSort('color')"
		/>
	</div>
</p-toolbar>

<p-panel
	header="Héroes"
	class="px-2"
>
	<p-table
		[value]="heroes | sortBy : sortType"
		[tableStyle]="{ 'min-width': '50rem' }"
	>
		<ng-template pTemplate="header">
			<tr>
				<th>#</th>
				<th>Héroe</th>
				<th>Volar</th>
				<th>Color</th>
			</tr>
		</ng-template>
		<ng-template
			pTemplate="body"
			let-hero
		>
			<tr>
				<td>{{ hero.id }}</td>
				<td>{{ hero.name }}</td>
				<td>{{ hero.canFly | canFly }}</td>
				<td>{{ hero.color }}</td>
			</tr>
		</ng-template>
	</p-table>
</p-panel>
